<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']">ITEMS SAMPLE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active" *ngIf="isLogin() === true">
          <a class="nav-link" [routerLink]="['/home']"  >Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item" *ngIf="isLogin() === true">
          <a class="nav-link" [routerLink]="['/add']">Add</a>
        </li>

      </ul>

      <span class="navbar-text" *ngIf="isLogin() === true">
        login: {{user.name}}
      </span>

      <span class="navbar-text">
      </span>

      <span class="navbar-text">

        <button *ngIf="isLogin() === true" (click)="salir()" class="btn btn-outline-danger">Salir</button>

        <a *ngIf="isLogin() === false" class="btn btn-primary" [routerLink]="['/login']" role="button">Login</a>

        <a *ngIf="isLogin() === false" class="btn btn-primary" [routerLink]="['/signup']" role="button">Signup</a>

      </span>

    </div>
  </nav>
