<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">ITEMS SAMPLES</h1>
          <p class="lead">miscelaneas.</p>
        </div>
      </div>



    <div  *ngFor="let item of listItems;index as i" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{item.getName()}}</h5>
        </div>
    </div>

</div>

