<form [formGroup]="fb" >

    <div class="form-group">
      <label for="nameFormControlInput1">Name</label>
      <input type="text" class="form-control" formControlName="name" placeholder="">
    </div>
  
    <button type="submit" [disabled]="!fb.valid" (click)="save()" class="btn btn-primary">Save</button>
    <a class="btn btn-primary" [routerLink]="['/']" role="button">Back</a>
  
</form>
  