<form [formGroup]="fb" >
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control"  formControlName="email" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" formControlName="password">
    </div>
  
    <hr>
    <button type="submit" [disabled]="!fb.valid" (click)="login()" class="btn btn-primary">login classic</button>
    <br>
    <hr>

  </form>