<h1>Signup</h1>

<form [formGroup]="fb" >
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control"  formControlName="email" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="name" class="form-control"  formControlName="name" aria-describedby="nameHelp">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" formControlName="password">
    </div>
    <hr>
    
    <button type="submit" [disabled]="!fb.valid" (click)="register()" class="btn btn-primary">Register</button>
    <br>

    <hr>

  </form>